[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "site-lisp/ecb"]
	path = site-lisp/ecb
	url = https://github.com/alexott/ecb.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
